.yellowcolor {
    border: 5px solid yellow;
}

.greencolor {
    border: 5px solid green;
}

.worktimer {
    height: 200px;
    width: 600px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.worktimer span {
    font-size: 5rem;
}
